<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWorkerRoleService"
                         maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                         receiveTimeout="00:20:00" sendTimeout="00:20:00" openTimeout="00:20:00" closeTimeout="00:20:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51964/WorkerRoleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkerRoleService"
                contract="WorkerRoleServiceReference.IWorkerRoleService" name="BasicHttpBinding_IWorkerRoleService" />
        </client>
    </system.serviceModel>
</configuration>