<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JpEntities" connectionString="metadata=res://*/Jalkapallo.csdl|res://*/Jalkapallo.ssdl|res://*/Jalkapallo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zlqf8olocg.database.windows.net;initial catalog=jalkapallo;persist security info=True;user id=jalkapallo;password=ManagerIsCool1908;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>